#mainWrapper			{
						width:100%; 
						margin:1%;
						}
#header					{
						font-size:48;
						text-align: center;
						}						
#name					{
						text-align: center;
						}
						
#navigation				{
						width:100%;
						text-align: center;
						overflow:hidden;
						line-height: 60px;
						}
						 
#buttons li				{
						position:relative;
						list-style: none;
						text-align:center;
						background-color:black;
						
						display:inline-block;
						}		
#buttons li a			{
						padding:65px 40px;
						}					
						
#buttons a:link			{
						color: #ffffff;
						}

#buttons a:hover		{
						color: white; 
						background-color:red
						
						}
						
#buttons a:focus		{
						color: white;
						}
						
#buttons a:active		{
						color: white;
						}
						
#buttons a:visited  	{
						color: white;
						}
#t1						{
						text-align:center;
						}
						
#item7					{
						
						}
						
textarea				{
							-webkit-box-sizing: border-box;
							-moz-box-sizing:border-box;
							box-sizing: border-box;
							width:100%;
						}

#footer					{
						text-align:center;
						}